.container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    /* background-color: black; */
    justify-content: center;
    align-items: center;
    margin: auto;
}

.linhas {
    display: flex;
    /* background-color: gray; */
}

.quadros {
    width: 100px;
    height: 100px;
    /* border: solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 90px;
}

.placar {
    display: flex;
    justify-content: center;
    width: 320px;
    margin: auto;
    height: 170px;
    border-radius: 5px;
    background: linear-gradient(rgb(24, 24, 24), rgb(48, 44, 44));
    box-shadow: -5px 5px 5px black;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 50px;
}

.contador-placar {
    width: 100px;
    justify-content: center;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    text-align: center;

}

.coluna1,
.coluna2 {
    border-right: solid black;
}

.linha1,
.linha2 {
    border-bottom: solid black;
}

.nome-jogador {
    background-color: black;
    border: solid gray 1px;
    border-radius: 30px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome-velha {
    border: solid gray 1px;
    background-color: black;
    border-radius: 30px;
    height: 20px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placar-jogador {
    border: solid gray 1px;
    border-radius: 5px;
    margin-top: 3px;
    height: 90px;
    background-color: black;
}

.placar-velha {
    border: solid gray 1px;
    border-radius: 5px;
    margin-top: 3px;
    height: 50px;
    background-color: black;
}

.jogador-da-vez {
    background-color: yellow;
}